    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Poppins&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
    
    body {
        background: white;
        color: #175676;
    }
    
    .background-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    header {
        width: 100%;
        height: 112px;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        z-index: 30;
    }
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 100px 0 108px;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        font-family: 'Poppins', sans-serif;
    }
    
    nav ul li {
        margin-left: 52px;
        font-size: 15px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #565757;
    }
    
    nav {
        display: flex;
        height: 45px;
        align-items: center;
    }
    
    .search input {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: #61A1C0;
        border: none;
        outline: none;
        cursor: pointer;
        padding-left: 0px;
        font-size: 20px;
        color: white;
        transition: width 2s ease-in-out, border-radius 3s ease-out;
    }
    
    .search {
        position: relative;
        margin-left: 26px;
    }
    
    .search i {
        position: absolute;
        display: block;
        transform: translate(55%, -45%);
        top: 50%;
        text-align: center;
        cursor: pointer;
    }
    
    main {
        position: relative;
    }
    
    .background-content {
        margin: 0 100px 0 108px;
    }
    
    .background-content h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        line-height: 150%;
        width: 764px;
        margin-top: 150px;
    }
    
    .background-content-bottom {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-family: 'Poppins';
        margin-top: 280px;
    }
    
    .scroll-down {
        cursor: pointer;
    }
    
    .blur {
        position: absolute;
        top: 460px;
        left: 0;
        height: 258px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        transform: rotate(-180deg);
        z-index: -1;
    }
    
    .services {
        margin-left: 92px;
        margin-top: 100px;
    }
    
    .services-icons {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    
    .swiper-button-next {
        margin: 0 71px 0 48px;
        cursor: pointer;
        position: relative !important;
        width: 49px !important;
    }
    
    .swiper-button-prev {
        cursor: pointer;
        position: relative !important;
        width: 49px !important;
    }
    
    .swipe {
        display: none;
    }
    
    .line {
        border: 1px solid #61A1C0;
        margin-top: 53px;
    }
    
    .slide1 {
        background-color: #D1E5F2;
        color: #175676;
    }
    
    .slide2 {
        background-color: #61A1C0;
        color: #BDE5EF;
    }
    
    .slide3 {
        background-color: #175676;
        color: #BDE5EF;
    }
    
    .slide4 {
        background-color: #BDE5EF;
        color: #175676;
    }
    
    .swiper {
        margin-top: 30.5px;
        width: 100%;
        height: 719px;
    }
    
    .swiper-slide {
        width: 479px;
        height: 719px;
        font-family: 'Poppins';
        cursor: pointer;
    }
    
    .slide-title {
        font-size: 60px;
        margin: 24px 0 0 40px;
        line-height: 64px;
    }
    
    .slide-nums {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        font-family: 'Poppins';
        font-size: 160px;
        margin-top: 360px;
    }
    
    .about-us {
        margin: 170px 0 0 92px;
        color: #565757;
        position: relative;
        font-size: 30px;
        line-height: 34px;
        font-family: 'Montserrat';
        font-weight: bold;
    }
    
    .content1 {
        margin-top: 64px;
        max-width: 720px;
    }
    
    .content1 img {
        margin-top: 60px;
    }
    
    .titles {
        font-family: 'Montserrat';
        font-size: 80px;
        color: #175676;
    }
    
    .middle-line {
        position: absolute;
        left: 1034px;
        top: 50px;
    }
    
    .content2 {
        margin: 345px 70px 0 0;
        display: flex;
    }
    
    .space-between {
        display: flex;
        justify-content: space-between;
    }
    
    .circle-svg {
        position: absolute;
        right: 0;
        top: 180px;
    }
    
    .content2-text {
        max-width: 550px;
        margin-left: 30px;
    }
    
    .book-now-container {
        margin: 200px 0 0 92px;
        color: #175676;
    }
    
    .book-now-section {
        max-width: 1720px;
        height: 511px;
        background-color: #D1E5F2;
        margin-top: 53.5px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .book-now-title {
        font-family: 'Poppins';
        font-size: 60px;
        line-height: 64px;
        margin-top: 140px;
    }
    
    .book-now-btn {
        width: 290px;
        height: 104px;
        background: rgba(255, 255, 255, 0.3);
        text-decoration-line: underline;
        font-size: 48px;
        line-height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        cursor: pointer;
    }
    
    .blog {
        margin: 200px 0 0 92px;
        position: relative;
    }
    
    .blog-img {
        margin: 75.5px 0 0 291px;
        cursor: pointer;
    }
    
    .blog-title {
        font-size: 60px;
        line-height: 90px;
        max-width: 550px;
        font-family: 'Poppins';
        position: absolute;
        left: 0;
        top: 205px;
        z-index: 10;
        cursor: pointer;
    }
    
    .overlay {
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 75px;
        left: 291px;
        width: 270px;
        height: 779px;
        transition: width 2s;
        cursor: pointer;
    }
    
    .overlay:hover {
        width: 559px;
    }
    
    .blog-title:hover~.overlay {
        width: 559px;
    }
    
    .blog-date {
        font-size: 60px;
        line-height: 90px;
        color: #61A1C0;
        font-family: 'Poppins';
        margin: 214px 0 200px 165px;
    }
    
    .blog-description {
        max-width: 690px;
        font-size: 30px;
        line-height: 34px;
        color: #565757;
        margin-left: 159px;
        font-family: 'Montserrat';
        font-weight: bold;
    }
    
    .blog-container {
        display: flex;
        position: relative;
    }
    
    .blog-circle-svg {
        position: absolute;
        right: 0;
        top: -130px;
    }
    
    footer {
        width: 100%;
        height: 203px;
        background: #61A1C0;
        margin-top: 200px;
    }
    
    .footer-container {
        margin: 0 160px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer-logo {
        margin-top: 10px;
        height: 102px;
        width: 102.02px;
        cursor: pointer;
    }
    
    .footer-nav {
        list-style: none;
        display: flex;
        margin: 35px 0 110px 0;
    }
    
    .footer-nav li {
        margin-left: 40px;
    }
    
    .footer-nav li a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 18px;
    }
    
    .footer-middle-content {
        text-align: center;
        width: 442px;
        font-family: 'Mulish', sans-serif;
    }
    
    .copyright {
        font-size: 12px;
        line-height: 16px;
        color: white;
    }
    
    .footer-icons {
        margin-top: 36px;
    }
    
    .footer-icons img {
        margin-left: 22.5px;
        cursor: pointer;
    }
    
    .modal-background {
        width: 100%;
        height: 1562px;
        background: rgba(23, 86, 118, 0.5);
        backdrop-filter: blur(30px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .select-package-modal {
        width: 1430px;
        height: 898px;
        background: #FFFFFF;
    }
    
    .select-package {
        display: none;
    }
    
    .modal-header {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        font-size: 22.192px;
        line-height: 33px;
        color: #175676;
        font-family: 'Poppins';
        padding: 0 47px 0 84.61px;
        box-sizing: border-box;
    }
    
    .packages {
        display: flex;
        justify-content: center;
        margin-top: 82.75px;
    }
    
    .package {
        width: 372px;
        height: 483px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    
    .package-title {
        font-size: 39.8065px;
        line-height: 42px;
        font-family: 'Poppins';
        margin: 59.71px 0 49.22px 0;
    }
    
    .package-price {
        font-size: 31.8452px;
        line-height: 42px;
        font-family: 'Montserrat';
        font-weight: bold;
    }
    
    .package-description {
        list-style: none;
        font-size: 19.9032px;
        line-height: 23px;
        font-family: 'Montserrat';
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
    }
    
    .package-description li {
        margin-bottom: 30px;
    }
    
    .quick-wash {
        background: #D1E5F2;
        color: #175676;
    }
    
    .quick-wash .package-description {
        color: #565757;
    }
    
    .day-spa {
        background: #61A1C0;
        color: #BDE5EF;
        margin: 0 13px;
    }
    
    .delux-wash {
        background: #BDE5EF;
        color: #175676;
    }
    
    .next-btn {
        width: 236px;
        height: 68px;
        background: rgba(23, 86, 118, 0.5);
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        color: #FFFFFF;
        margin: 74px auto;
        cursor: pointer;
    }
    
    .next-btn:hover,
    .next-btn:active {
        background-color: rgba(11, 56, 78, 0.5);
    }
    
    .checkout {
        display: none;
    }
    
    .checkout-modal {
        width: 1430px;
        height: 1134px;
        background: #FFFFFF;
    }
    
    .select-package-close-btn,
    .checkout-close-btn {
        cursor: pointer;
    }
    
    .order-summary {
        width: 560px;
        height: 957px;
        background: rgba(209, 229, 242, 0.2);
        color: #175676;
        font-family: 'Poppins';
        padding: 42px 0 0 61.19px;
        box-sizing: border-box;
        margin-left: 106px;
    }
    
    .order-summary .title {
        font-size: 22.192px;
        line-height: 33px;
        margin-bottom: 39.07px;
    }
    
    .flex {
        display: flex;
    }
    
    .order-summ-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 26.68px;
    }
    
    .price {
        margin-right: 73.25px;
        font-size: 16.644px;
        line-height: 150%;
    }
    
    .order-summ-line {
        margin-top: 31.71px;
    }
    
    .promo-code-input {
        border: none;
        outline: none;
        font-size: 16.644px;
        line-height: 25px;
        color: #61A1C0;
        background-color: transparent;
        margin-top: 5px;
        font-family: 'Poppins';
    }
    
     ::placeholder {
        color: rgba(23, 86, 118, 0.5);
    }
    
    .prices {
        margin-left: 120px;
    }
    
    .order-details {
        display: flex;
        justify-content: end;
        margin-top: 38px;
        position: relative;
        font-size: 16.644px;
        line-height: 25px;
        font-weight: 500;
    }
    
    .order-details svg {
        position: absolute;
        top: 57px;
    }
    
    .total-text,
    .total {
        margin-top: 15px;
    }
    
    .review {
        font-size: 16px;
        line-height: 24px;
        color: #175676;
        margin: 161px 50px 0 0;
    }
    
    .review-title {
        font-size: 22.192px;
        line-height: 33px;
        font-family: 'Poppins';
        margin-bottom: 15px;
    }
    
    .checkbox {
        margin-top: 23px;
    }
    
    .blue {
        color: #61A1C0;
    }
    
    .place-order-btn {
        width: 446px;
        height: 52px;
        background: #175676;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 13.87px;
        line-height: 21px;
        font-family: 'Poppins';
        margin-top: 80px;
    }
    
    .personal-info {
        width: 631px;
    }
    
    .checkout-content {
        display: flex;
        margin: 43px 0 0 85px;
    }
    
    .billing-address {
        color: #175676;
        font-size: 16.644px;
        line-height: 25px;
        font-family: 'Poppins';
        font-weight: 500;
    }
    
    .edit-details {
        font-family: 'Poppins';
        font-size: 16.644px;
        line-height: 25px;
        color: #61A1C0;
        cursor: pointer;
    }
    
    .info-input {
        border: 1.53796px solid rgba(23, 86, 118, 0.2);
        border-radius: 4.61387px;
        outline: none;
        color: #175676;
        padding-left: 23.07px;
        height: 45.77px;
        font-size: 16.644px;
        line-height: 20px;
        box-sizing: border-box;
        margin-bottom: 16.64px;
    }
    
    .long-input {
        width: 631px;
    }
    
    .short-input {
        width: 293px;
    }
    
    form {
        margin-top: 26.13px;
    }
    
    .responsive-header img {
        width: 45.01px;
        height: 45px;
        margin-top: 8px;
    }
    
    .hamburger-menu {
        margin: 20px 20px 0 0;
        cursor: pointer;
    }
    
    .background-overlay,
    .responsive-scroll,
    .responsive-header {
        display: none;
    }
    
    @media only screen and (max-width: 780px) {
        .background-overlay {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(autri-taheri-l0Gq4BmboYY-unsplash.jpg);
            width: 100%;
            height: 750px;
            z-index: -1;
        }
        header {
            background: transparent;
            backdrop-filter: none;
        }
        .responsive-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .responsive-header img {
            margin-left: 20px;
        }
        .header-container,
        .scroll-down,
        .services-icons,
        .overlay,
        .blog-title svg,
        .blog-date,
        .middle-line {
            display: none;
        }
        .responsive-scroll {
            display: block;
        }
        .background-content h1 {
            font-size: 62px;
            line-height: 120px;
            width: 360px;
            margin-top: 50px;
            font-weight: bold;
        }
        .background-content-bottom {
            font-size: 16px;
            line-height: 140%;
            margin-top: 50px;
        }
        .background-content {
            height: 750px;
            margin-left: 0;
            margin-right: 0;
        }
        .background-img {
            height: 750px;
            object-fit: cover;
            object-position: 65% 80%;
        }
        .services {
            margin-left: 0;
            margin-top: 0;
        }
        .title-n-swipe {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .swipe {
            display: block;
            font-family: 'Montserrat';
            font-size: 20px;
            line-height: 24px;
            font-weight: bold;
        }
        .line {
            margin: 35px 0;
        }
        .titles {
            font-size: 50px;
            line-height: 54px;
        }
        .about-us .space-between {
            flex-direction: column;
        }
        .content1 img {
            width: 100%;
        }
        .content2 {
            margin-top: 45px;
            margin-right: 0;
            width: 100%;
        }
        .content2 svg {
            width: 27px;
            height: 27px;
        }
        .content2-text {
            max-width: 310px;
            margin-left: 20px;
        }
        .blog-container {
            flex-direction: column;
        }
        .blog-img {
            width: 233px;
            height: 313px;
        }
        main {
            margin: 0 20px;
            position: static;
        }
        .blog {
            margin-top: 240px;
            margin-left: 0;
        }
        .blog-img {
            margin-top: 0;
            margin-left: 0;
        }
        .blog-title {
            font-size: 30px;
            line-height: 50px;
            max-width: 100%;
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 30px;
        }
        .blog-description {
            width: 100%;
            line-height: 24px;
            font-size: 20px;
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 120px;
        }
        .blog-circle-svg {
            position: absolute;
            right: 0;
            top: 10px;
            width: 244px;
            height: 244px;
        }
        footer {
            height: 554px;
            margin-top: 50px;
            position: relative;
        }
        .footer-logo {
            margin-top: 30px;
        }
        .footer-container {
            margin: 0;
            flex-direction: column;
            align-items: center;
        }
        .footer-nav {
            flex-direction: column;
            margin-top: 60px;
            margin-bottom: 0;
            align-items: center;
        }
        .footer-nav li {
            margin-left: 0;
            margin-bottom: 18px;
        }
        .footer-nav li a {
            font-size: 16px;
            line-height: 22px;
        }
        .footer-middle-content {
            width: 100%;
        }
        .copyright {
            position: absolute;
            bottom: 59px;
            left: 50%;
            margin-left: -96px;
        }
        .footer-icons {
            margin-top: 34px;
        }
        .footer-icons img {
            margin-left: 27px;
        }
        .footer-icons img:first-of-type {
            margin-left: 0;
        }
        .swiper {
            margin-top: 0;
            height: 436px;
        }
        .swiper-slide {
            width: 290px;
            height: 436px;
        }
        .slide-title {
            font-size: 34px;
            line-height: 38px;
            margin: 5px 0 0 20px;
            line-height: 64px;
        }
        .slide-nums {
            font-size: 80px;
            margin-top: 190px;
        }
        .book-now-container {
            margin-left: 0;
            margin-top: 200px;
        }
        .book-now-section {
            width: 100%;
            height: 581px;
        }
        .book-now-title {
            font-size: 30px;
            line-height: 40px;
            margin-top: 89px;
            width: 60%;
            text-align: center;
        }
        .book-now-btn {
            width: 234px;
            height: 90.47px;
            font-size: 24px;
            line-height: 64px;
            margin-top: 160px;
        }
        .about-us {
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 81px;
            font-size: 20px;
            line-height: 24px;
        }
        .content1 {
            margin-top: 0;
            width: 100%;
        }
        .circle-svg {
            top: 600px;
            width: 244px;
            height: 244px;
        }
        .blur {
            top: 500px;
        }
        .responsive-nav {
            width: 150px;
            height: 300px;
            background-color: white;
            position: absolute;
            top: 60px;
            right: 0;
            border-radius: 10px;
            display: none;
        }
        .responsive-nav ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            align-items: center;
        }
    }